<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos </title>
    <link rel="stylesheet" href="../css.stylos/styles.css">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-
     xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKF
     jFw2yuvEpDL9wQ==" crossorigin="" />

</head>

<body>

    <header>

        <div class="menu container">
            <img class="logo-1" src="../imagenes/logo.svg">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="imagenes/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <div class="menu-1">
                    <ul>
                        <li><a href="../index.html" class="nav-link">Inicio</a></li>
                        <li><a href="./producto.html" class="nav-link ">Producto</a></li>
                        <li><a href="./presupuesto.html" class="nav-link">Presupuesto</a></li>
                        <li><a href="./contacto.html" class="nav-link active">Contacto</a></li>
                    </ul>
                </div>

                <img class="logo-2" src="../imagenes/logo.svg" alt="">

            </nav>
    </header>
    <main>
        <section id="contacto">
            <div class="container">
                <!-- Datos de contacto -->
                <div class="contacto-info">
                    <h2>Datos de contacto</h2>
                    <p><strong>Dirección:</strong> Calle Falsa 123, Ciudad, País</p>
                    <p><strong>Teléfono:</strong> +34 600 123 456</p>
                    <p><strong>Email:</strong> contacto@empresa.com</p>
                    <p><strong>Horario:</strong> Lunes a Viernes 9:00 - 18:00</p>
                </div>


        </section>

    </main>

</body>

</html>


<footer class="site-footer footer">
    <div id="map">
        <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=-3.7351799011230473%2C40.
            39086941960008%2C-3.652095794677735%2C40.42864396258735&amp;layer=mapnik"></iframe><br /><small>
    </div>

    <img src="../imagenes/logo.svg" alt="">


    <div class="socials">
        <a href="https://facebook.com">
            <div class="social">
                <img src="../imagenes/s1.svg" alt="">

            </div>
        </a>
        <a href="https://x.com">
            <div class="social">
                <img src="../imagenes/s2.svg" alt="">

            </div>
        </a>
        <a href="https://instagram.com">
            <div class="social">
                <img src="../imagenes/s3.svg" alt="">

            </div>
        </a>

        <a href="imagenes/s1.svg"></a>
        <a href="imagenes/s2.svg"></a>
        <a href="imagenes/s3.svg"></a>
    </div>

    <address>Direcion: Calle Bruno Ayyon 15, bajo 4, Madrid,-España.</address>
    <small>© Tus delicias 2025 - Aviso legal</small>
</footer>

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-
     GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57
     QTMg7ztg8Jm2Og==" crossorigin="">
    </script>

<script src="../js/contacto.js">