<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos </title>
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
    <link rel="stylesheet" href="../css.stylos/styles.css">

</head>

<body>

    <header>
        <div class="menu container">
            <img class="logo-1" src="../imagenes/logo.svg" alt="logo">
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="../imagenes/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <div class="menu-1">
                    <ul>
                        <li><a href="../index.html" class="nav-link">Inicio</a></li>
                        <li><a href="./producto.html" class="nav-link ">Producto</a></li>
                        <li><a href="./presupuesto.html" class="nav-link">Presupuesto</a></li>
                        <li><a href="./contacto.html" class="nav-link active">Contacto</a></li>
                    </ul>
                </div>

                <img class="logo-2" src="../imagenes/logo.svg" alt="">

            </nav>
        </div>
    </header>
    <main>
        <section id="contacto">
            <div class="container">
                <!-- Datos de contacto -->
                <div class="contacto-info">
                    <h2>Datos de contacto</h2>
                    <p><strong>Dirección:</strong> calle Brunoo ayyon 15, bajo 4</p>
                    <p><strong>Teléfono:</strong> +34 600 123 456</p>
                    <p><strong>Email:</strong> divcode@empresa.com</p>
                    <p><strong>Horario:</strong> Lunes a Viernes 9:00 - 18:00</p>
                </div>
            </div>
        </section>


        <div>
            <div id="map"></div>
            <!-- <iframe width="425" height="350"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=-3.6992892622947697%2C40.449861801181505%2C-3.6969771981239323%2C40.45133749398851&amp;layer=mapnik&amp;marker=40.45059861754423%2C-3.698132900511382"
                    style="border: 1px solid black"></iframe><br /><small>-->

        </div>
    </main>
    <footer class="site-footer footer">


        <img src="../imagenes/logo.svg" alt="">


        <div class="socials">
            <a href="https://facebook.com">
                <div class="social">
                    <img src="../imagenes/s1.svg" alt="">

                </div>
            </a>
            <a href="htpss://x.com">
                <div class="social">
                    <img src="../imagenes/s2.svg" alt="">

                </div>
            </a>
            <a href="https://instagram.com">
                <div class="social">
                    <img src="../imagenes/s3.svg" alt="">

                </div>
            </a>

            <a href="../imagenes/s1.svg"></a>
            <a href="../imagenes/s2.svg"></a>
            <a href="../imagenes/s3.svg"></a>
        </div>

        <address>Direcion: Calle Bruno Ayyon 15, bajo 4, Madrid,-España.</address>
        <small>© Tus delicias 2025 - Aviso legal</small>
    </footer>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="../js/contacto.js"></script>
</body>

</html>