<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Productos</title>
    <link rel="stylesheet" href="../css.stylos/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>

<body>
    <header>
        <div class="menu container">
            <img class="logo-1" src="../imagenes/logo.svg">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../imagenes/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <div class="menu-1">
                    <ul>
                        <li><a href="../index.html" class="nav-link">Inicio</a></li>
                        <li><a href="./views/producto.html" class="nav-link active">Producto</a></li>
                        <li><a href="./views/presupuesto.html" class="nav-link">Presupuesto</a></li>
                        <li><a href="./views/contacto.html" class="nav-link">Contacto</a></li>
                    </ul>
                </div>
                <img class="logo-2" src="../imagenes/logo.svg" alt="">
            </nav>
        </div>
    </header>
    <main class="products">
        <div class="tabs container">

            <input type="radio" name="tabs" id="tab1" checked class="tabInput" value="1">
            <label for="tab1">Hamburguesas</label>
            <div class="tab">
                <div class="swiper mySwiper-2" id="swiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../imagenes/food1.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Hanburguesa simple</h4>
                                    <p>Calidad premiun</p>
                                    <span class="price">€ 18.50</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../imagenes/food2.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Hanburguesa jamon</h4>
                                    <p>Calidad premiun</p>
                                    <span class="price">€ 18.50</span>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../imagenes/food3.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>hanbiurguesa pollo</h4>
                                    <p>Calidad premiun</p>
                                    <span class="price">€ 18.50</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../imagenes/food3.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>hanburguesa tomate</h4>
                                    <p>Calidad premiun</p>
                                    <span class="price">€ 18.50</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tab2" class="tabInput" value="2">
            <label for="tab2">Burritos</label>
            <div class="tab">
                <div class="swiper mySwiper-2" id="swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../imagenes/food4.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>burrito carnita</h4>
                                    <p>Calidad premiun</p>
                                    <span class="price">€ 7.50</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../imagenes/food5.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>quesadito</h4>
                                    <p>Calidad premiun</p>
                                    <span class="price">€7.50</span>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../imagenes/food6.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>pollo con vegetales</h4>
                                    <p>Calidad premiun</p>
                                    <span class="price">€ 7.50</span>
                                </div>

                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../imagenes/food7.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>el querido</h4>
                                    <p>Calidad premiun</p>
                                    <span class="price">€15.50</span>
                                </div>

                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../imagenes/food8.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>el completo</h4>
                                    <p>Calidad premiun</p>
                                    <span class="price">€ 14</span>
                                </div>

                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../imagenes/food9.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>el pedacito</h4>
                                    <p>Calidad premiun</p>
                                    <span class="price">€ 5</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>
            </div>
        </div>

        </div>
        </div>

    </main>
    <footer class="site-footer footer">


        <img src="../imagenes/logo.svg" alt="">


        <div class="socials">
            <a href="https://facebook.com">
                <div class="social">
                    <img src="../imagenes/s1.svg" alt="">

                </div>
            </a>
            <a href="https://x.com">
                <div class="social">
                    <img src="../imagenes/s2.svg" alt="">

                </div>
            </a>
            <a href="https://instagram.com">
                <div class="social">
                    <img src="../imagenes/s3.svg" alt="">

                </div>
            </a>

            <a href="../imagenes/s1.svg"></a>
            <a href="../imagenes/s2.svg"></a>
            <a href="imagenes/s3.svg"></a>
        </div>

        <address>Direcion: Calle Bruno Ayyon 15, bajo 4, Madrid,-España.</address>
        <small>© Tus delicias 2025 - Aviso legal</small>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="../js/script.js"></script>
  </html>
</body>