@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #080202;
    font-family: 'Montserrat', sans-serif;
   

}

.container {
    max-width: 1280px;
    margin: 0 auto;

}

.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-next {
    color: #db241b;

}

.swiper-button-prev {
    color: #db241b;
}

.swiper-pagination-bullet {
    background-color: #d3d2d2;
    opacity: 1;

}

.swiper-pagination-bullet-active {
    background-color: #db241b;
}

.menu {
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: block;

}

.menu-1 {
    margin-right: 180px;
}

.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}

.logo-1 {
    width: 0;

}

.logo-2 {
    width: 150px;

}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 25px 0;
}

.social {
    margin: 15px 10px;
    height: 40px;
    width: 40px;
    border: 1px solid red;
    border-radius: 50%;
}

.social:hover {
    background-color: #db241b;
    transition: 0.3s;
    cursor: pointer;
}

.social img {
    margin: 8px 0;

}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 16px;
    color: #ffffff;
    padding: 20px;
    display: flex;

}

.menu li :hover {
    background-color: #db241b;



}

menu .navbar ul li a:hover {
    color: #db241b;

}

.menu-1 .navbar ul li a:active {
    color: #bbb;
    background: #db241b;

}

.menu li a :hover {
    color: #db241b;

}


#menu {
    display: none;


}

.menu-icono {
    width: 25px;
}



.menu label {
    cursor: pointer;
    display: none;
}

.heder-cointer {
    margin-top: 200px;
    padding-bottom: 50px;

}

.slider {
    display: flex;
    align-items: center;
}

.slider-txt {
    margin-left: 85px;
    width: 50%;
}

.slider-txt h1 {
    font-size: 70px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: #ffffff;

}

.botones {
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #db241b;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;

}

.btn-1:hover {
    background-color: #db241b;
    transition: 0.3s;
    cursor: pointer;
}

.slider-img {
    width: 50%;
}

.slider-img img {
    margin-right: 225;
    width: 550px;
}

.products {
    background-color: #080202;
}

.tabs {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.tabs label {
    width: 15%;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    cursor: pointer;
    display: block;
    order: 1;
    font-weight: 700;
    transition: background ease 0.3s;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;

}

.tabs input[type="radio"] {
    display: none;

}

.tabs input[type="radio"]:checked+label {
    background-color: #db241b;
    color: #ffffff;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
    color: #ffffff;
}

.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.product img {
    width: 150px;
    text-align: left;
}

.product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #5555;
    border-radius: 15px;
    margin-bottom: 15px;
}

.product-img img {
    width: 150px;
    height: 120px;
}

.product-txt {
    margin-left: 10px;
    width: 50%;
    text-align: left;
}

.product-txt h4 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.product-txt p {
    font-size: 14px;
    color: #bbbbbb;
    margin-bottom: 15px;
}

.product-txt span {
    font-size: 18px;
    color: #ffffff;
    font-weight: 800;
}

.info {

    padding: 100px 0;
    display: flex;
    align-items: center;

}

.info-img {
    width: 50%;

}

.info-img img {
    width: 500px;
    height: 250px;
}

.info-txt {
    width: 50%;
}

.info-txt h2 {
    font-size: 70px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
}

.info-txt p {
    font-size: 18px;
    color: #bbbbbb !important;
    margin-bottom: 50px;
}

.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #db241b;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;

}

.btn-2:hover {
    background-color: #db241b;

}

.horario {
    background-color: #080202;
    padding: 100px 0;



}


#noticias {
    padding: 4%;
    color: #ffffff;
    align-content: center;
    text-align: center;
}

#noticias h2 {
    font-size: 70px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 50px;
}

.horarios-info h2 {
    font-size: 70px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    margin-top: 100px;


}

.horario-txt {
    display: flex;
    justify-content: space-between;


}

.txt {
    color: #ffffff;
}

.txt h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #ffffff;
    align-items: center;
    text-align: center;
}

.txt p {
    font-size: 16px;
    color: #bbbbbb;
    margin-bottom: 10px;
    font-weight: 600;
    align-items: center;
    text-align: center;

}

.map {
    filter: grayscale(100%)invert(92%)contrast(93%);
}

.footer {
    width: 100%;
    background-color: #000000;
    border-bottom: 5px solid #db241b;
    padding: 100px 0;
    text-align: center;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    color: #ffffff;
}

.links h4 {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-flex;
}

.presupuesto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80vh;
    padding: 50px 20px;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.presupuesto h1 {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 50px;
}


#formPresu {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #111;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#formPresu fieldset {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#formPresu label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 15px;
}

#formPresu input,
#formPresu select,
#formPresu output {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: #fff;
    font-size: 14px;
}

.botones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.botones button {
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

@media (max-width:991px) {
    .menu {
        padding: 20px;
        justify-content: space-between;
    }

    #menu:checked~.navbar {
        display: block;
    }

    .menu-2 {
        display: none;
    }

    .logo-1 {
        width: 100px;

    }

    .logo-2 {
        width: 0;
    }

    .menu label {
        display: block;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #080202;
        display: none;

    }

    .menu .navbar ul li {
        width: 100%;
    }
 
    #menu:checked~.navbar {
        display: block;
    }

    .heder-cointer {
        margin-top: 150px;
        padding-bottom: 20px;
    }

    .slider {
        flex-direction: column;

    }

    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;

    }

    .slider-txt h1 {
        font-size: 40px;
    }

    .slider-txt p {
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img {
        width: 100%;
        text-align: center;
    }

    .slider-img img {
        width: 300px;
        margin-right: 0;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets,
    .swiper-pagination-fraction .swiper-pagination-customs,
    .swiper-pagination-horizontal {
        bottom: -5px;
    }

    .tabs {
        padding: 50px 30px;
    }

    .tabs label {
        width: 33%;

    }

    .info {
        flex-direction: column;
        padding: 30px;
    }

    .info-img,
    .info-txt {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 300px;
        height: 200px;
        margin-bottom: 25px;
    }

    .info-txt h2 {
        font-size: 40px;
    }

    .info-txt p {
        font-size: 16px;
    }

    .btn-1 {

        font-size: 14px;
    }

    .horario {
        padding: 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .horario-txt {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .links h4 {
        margin: 25px 0 10px 0;
    }

    .socials {
        flex-wrap: wrap;
        /* permite que los íconos bajen a otra línea */
        justify-content: center;
    }


}





/******formulario****/




/* Formulario */


form {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
   
 
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 15px;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    transition: border 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

/* Extras checkboxes */
.extras label {
    display: inline-block;
    margin-right: 15px;
    font-weight: 400;
}

/* Precio final */
.resultado {
    font-weight: bold;
    font-size: 1.3em;
    color: #007bff;
    margin: 10px 0 20px;
}

/* Botones */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="reset"] {
    background-color: #6c757d;
    color: #fff;
}

button[type="reset"]:hover {
    background-color: #495057;
}

/* Errores */
.error {
    color: red;
    font-size: 0.85em;
    margin-top: 3px;
}

/* Checkbox condiciones */
#condiciones {
    margin-right: 5px;
}

.botones {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

/* Responsive */
@media(max-width: 500px) {
    form { padding: 20px; }
    .extras label { display: block; margin-bottom: 5px; }
}



* Formulario */
form {
    background:#db241b;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
}

h1, h2, h3 {
    color: #db241b;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #db241b;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    transition: border 0.3s;
    align-items: center;
    text-align: center;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

/* Extras checkboxes */
.extras label {
    display: inline-block;
    margin-right: 15px;
    font-weight: 400;
}

/* Precio final */
.resultado {
    font-weight: bold;
    font-size: 1.3em;
    color: #007bff;
    margin: 10px 0 20px;
}

/* Botones */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="reset"] {
    background-color: #6c757d;
    color: #fff;
}

button[type="reset"]:hover {
    background-color: #495057;
}

/* Errores */
.error {
    color: red;
    font-size: 0.85em;
    margin-top: 3px;
}

/* Checkbox condiciones */
#condiciones {
    margin-right: 5px;
}

.botones {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

/* Responsive */
@media(max-width: 500px) {
    form { padding: 20px; }
    .extras label { display: block; margin-bottom: 5px; }
}

